.haikei{
    position: fixed;
    width: 1000px;
    height: 844px;
    left: 100px;
    top: 0px;
    background: linear-gradient(180deg, #091C50 0%, rgba(44, 43, 56, 0) 100%);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
.flex-wrapper-one{
    position: fixed;
    width: 100px;
    height: 677px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0%;
    display:flex;
    flex-flow: column;
    background: #D9D9D9;
}

.flex-wrapper-two{
    position: relative;
}
.homei{
    position: absolute;
    width: 32px;
    height: 33px;
    left: 36px;
    top: 40px;
}
.home{
    position: absolute;
width: 48px;
height: 13px;
left: 37px;
top: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* ボックスの高さと同一 */
color: #FFFCFC;
}

.commenti{
    position: absolute;
    width: 52px;
    height: 33px;
    left: 26px;
    top: 155px;
}
.comment{
    position: absolute;
width: 48px;
height: 13px;
left: 26px;
top: 195px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* ボックスの高さと同一 */
color: #FFFCFC;
}

.searchi{
    position: absolute;
width: 48px;
height: 33px;
left: 26px;
top: 270px;
}
.search{
    position: absolute;
width: 48px;
height: 13px;
left: 29px;
top: 310px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* ボックスの高さと同一 */
color: #FFFCFC;
}

.uploadi{
    position: absolute;
    width: 46px;
    height: 37px;
    left: 26px;
    top: 385px;
}
.upload{
    position: absolute;
width: 48px;
height: 13px;
left: 31px;
top: 425px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* ボックスの高さと同一 */
color: #FFFCFC;
}

.settingi{
    position: absolute;
    width: 48px;
    height: 37px;
    left: 26px;
    top: 500px;
}
.setting{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 26px;
    top: 540px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* ボックスの高さと同一 */
color: #FFFCFC; 
}

.title{
    position: fixed;
width: 253px;
height: 49px;
left: 600px;
top: 45px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;

color: #9B9999;

}

.text{
position: fixed;
width: 456px;
height: 305px;
left: 500px;
top: 164px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;

color: #8E8E8E;
}

.commentsec {
    position: fixed;
width: 1200px;
height: 465px;
left: 100px;
top: 209px;
z-index: 1;

background: #9E9C9C;

}

.user1icon{
    position: absolute;
width: 66px;
height: 61px;
left: 139px;
top: 65px;

background: url(FfM3zSKUAAYtwLH.jpg);
border-radius: 90px;
}

.user1{
    position: absolute;
width: 67px;
height: 33px;
left: 217px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #050505;
}

.com1{
    position: absolute;
width: 305px;
height: 87px;
left: 251px;
top: 130px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #0C0C0C;
}

.com1-date{
    position: absolute;
width: 127px;
height: 26px;
left: 220px;
top: 94px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #236AD5;

}

.user2icon{
    position: absolute;
width: 62px;
height: 60px;
left: 226px;
top: 190px;

background: url(image.png);
border-radius: 90px;
}

.user2{
    position: absolute;
width: 113px;
height: 53px;
left: 298px;
top: 180px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #000000;

}

.com2{
    position: absolute;
width: 191px;
height: 32px;
left: 319px;
top: 244px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

}

.com2-date{
    position: absolute;
width: 90px;
height: 32px;
left: 298px;
top: 207px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #236AD4;

}

.more{
    position: absolute;
width: 152px;
height: 22px;
left: 284px;
top: 290px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #115FA8;

}

.comline{
    position: absolute;
width: 490px;
height: 0px;
left: 284px;
top: 22px;

border: 3px solid #000000;
transform: rotate(0.11deg);
}

.pl{
    position: absolute;
width: 80px;
height: 28px;
left: 308px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #CE3487;

}

.comment{
    position: absolute;
}

